*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/debug
/release
/autoreplyprint_android_as_sample_src_*.zip
/autoreplyprint_android_as_sample_apk_*.zip
